@inherits LayoutComponentBase

<div class="mainbackground">
<div class="page">
        <div class="sidebar" href="~/css/NavMenu.css">
        <NavMenu />
    </div>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>
</div>
<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>